#keyword .keyword__list {
    display: flex;
    justify-content: center;
    text-align: center;
}
#keyword .keyword__list li {
    margin: 0 10px;
}
#keyword .keyword__list li a {
    display: block;
    border: 1px solid #65db7f;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    color: #00ab33;
    padding: 13px 40px;
    background: linear-gradient(to right, #65db7f 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

#keyword .keyword__list li a:hover {
    background-position: left bottom;
    color: #fff
}